
		body {
			background-color: #dddbdb;
            font-size: 0.9em;
		}

		a img {
			border: 1px solid #c8c8c8;
			padding: 5px;
			margin-left: 7px;
			background: white;
			margin-bottom: -7px;
		}

		.inputBox {
			background-color: #333;
			color: #f2f2f2;
			text-align: right;
			padding: 10px 10px 10px 30px;
			position: fixed;
			top: 0;
			width: 100%;
			left: -10px;
			z-index: 1;
		}

		.divider {
			background-color: #cecece;
			padding: 30px 10px 30px 10px;
			width: 100%;
			left: -10px;
			position: relative;
			margin-top: 50px;
			margin-bottom: -33px;
			box-shadow: 0px 10px 15px #b4b4b4 inset;
			border-top: 1px solid #8a8a8a;
			border-bottom: 1px solid #8a8a8a;
		}

		.podGroup {
			padding: 30px 20px 30px 20px;
			position: relative;
			margin-top: 70px;
			margin-bottom: 20px;
			margin-left: 20px;
			margin-right: 20px;
			border: 1px solid #d7d7d7;
			background-color: white;
			flex-basis: 740px;
			box-shadow: 0px 3px 2px #aab2bd;
			z-index: 0;
		}

		.futurePin {
			font-size: 20px;
			padding: 30px 20px 30px 20px;
			position: relative;
			margin-top: 70px;
			margin-bottom: 20px;
			margin-left: 20px;
			margin-right: 20px;
			border: 3px dashed #b3b3b3;
			flex-basis: 740px;
		}

		.podGroup small {
			font-size: 10px;
			display: block;
			margin-bottom: -20px;
			color: #a1a09f;
		}

		.podGroup em {
			font-size: 14px;
			color: #a1a09f;
		}

		#output {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			flex-direction: row;
			align-items: flex-start;
			align-content: flex-start;
		}

		#statusBar {
			overflow: hidden;
			background-color: #f6e8df;
			color: #ad7550;
			text-align: left;
			padding: 5px 10px 5px 30px;
			position: fixed;
			width: 100%;
			left: -10px;
			font-family: TNT, Arial, Helvetica, sans-serif;
			z-index: 5;
			font-size: 14px;
			display: none;
			bottom: 0px;
		}

		#pinStatus {
			background-color: #f6e8df;
			overflow: hidden;
			color: #a1a09f;
			text-align: right;
			padding: 5px 10px 5px 30px;
			position: fixed;
			width: auto;
			right: -2px;
			font-family: TNT, Arial, Helvetica, sans-serif;
			z-index: 1;
			font-size: 14px;
			bottom: 0px;
			display: none;
			cursor: pointer;
		}

		.inputBox form {
			width: 100%;
			text-align: center;
			margin-left: 80px;
		}

		input {
			margin-top: 20px;
			margin-left: 10px;
		}

		button {
			margin-top: 20px;
		}

		.pods {
			margin-top: 100px;
			text-align: center;
			color: #333f48;
			font-family: TNT, Arial, Helvetica, sans-serif;
		}

		.pods b {
			font-size: 20px;
			margin-left: 15px;
		}

		.pod {
			margin: 30px;
			width: 80%;
			max-width: 832px;
			border: 1px solid #3a3939;
		}

		.podImageData {
			display: block;
		}

		hr {
			border-top: 2px solid rgb(255, 102, 0);
			margin-bottom: 30px;
			margin-top: 30px;
		}

		.bigInput {
			margin: 8px 10px;
			display: inline-block;
			border-radius: 4px;
			box-sizing: border-box;
			flex-grow: 1;
			border: 1px solid #999fa3;
			/* padding: 0 .5625rem; */
			order: 2;
			outline: 0;
			height: 2.4rem;
			color: #333f48;
			font-family: TNT, Arial, Helvetica, sans-serif;
			font-weight: 300;
            text-align: center;
			line-height: 1.5;
			box-shadow: 1px 2px 4px grey inset;
		}

		.sortCode {
			display: none;
		}

		.dueDate {
			margin-top: 0px;
			margin-left: 0px;
			border: 0px;
			font-size: 20px;
			font-family: TNT, Arial, Helvetica, sans-serif;
			background: transparent;
			position: absolute;
			opacity: 0;
			cursor: pointer;
		}

		.dateButton {
			margin-top: 20px;
			margin-left: 20px;
			font-size: 20px;
			color: #333f48;
			display: none;
		}

		button {
			background-color: rgb(255, 102, 0);
			border-color: rgb(255, 102, 0);
			border-radius: 3px;
			border-width: 1.11667px;
			border-style: solid;
			box-sizing: border-box;
			color: rgb(255, 255, 255);
			cursor: pointer;
			display: inline-block;
			font-family: TNT, Arial, Helvetica, sans-serif;
			font-size: 16px;
			font-weight: 700;
			line-height: 24px;
			max-width: 100%;
			min-width: 0px;
			padding-bottom: 6px;
			padding-left: 12px;
			padding-right: 12px;
			padding-top: 6px;
			position: relative;
			text-align: center;
			text-decoration-color: rgb(255, 255, 255);
			width: 100.317px;
		}

		button:hover {
			background-color: rgb(215, 91, 9);
			border-color: rgb(215, 91, 9);
		}

		#accountNo {
			float: right;
			margin-right: 60px;
			margin-top: 30px;
			font-family: TNT, Arial, Helvetica, sans-serif;
			color: rgb(167, 167, 167);
			cursor: pointer;
		}

		.controlBtn {
			color: #000;
			float: right;
			font-size: 30px;
			cursor: pointer;
			text-decoration: none;
			opacity: 0.4;
		}

		.controlBtn:hover {
			color: #000;
			opacity: 1;
		}

		.pin {
			float: right;
			position: absolute;
			top: 15px;
			right: 50px;
			font-size: 15px;
			opacity: 0.3;
			cursor: pointer;
		}

		.pin:hover {
			opacity: 1;
		}

		.comment {
			height: 70px;
			float: right;
			top: 15px;
			right: 80px;
			font-size: 13px;
			font-family: calibri;
			display: none;
			color: #a1a09f;
			padding: 5px;
			border: thin solid #f6ecc2;
			background-color: #ffffe6;
			box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
			overflow: visible;
		}

		.commentContainer {
			height: 20px;
			float: right;
			position: absolute;
			top: 15px;
			right: 80px;
			padding: 5px;
			display: none;
		}

		@media screen and (max-width: 600px) {
			.commentContainer {
				height: 20px;
				float: right;
				position: absolute;
				top: -20px;
				right: 260px;
				padding: 5px;
				display: none;
				/* width: 200px; */
				left: 3px;
			}

			.inputBox form {
				width: 100%;
				text-align: center;
				margin-left: -20px;
			}

			.pod {
				margin: 0px;
				width: 100%;
				max-width: 832px;
				border: 1px solid #dedede;
			}

		}



		.futurePin .comment {
			display: block;
			background-color: #eee;
			border: thin solid #ececec;
			position: absolute;
			height: 50px;
			width: 155px;
		}


		.commentContainer::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 97%;
			margin-top: -5px;
			border-width: 10px;
			border-style: solid;
			border-color: transparent transparent transparent #c2b891;
		}

		#overlay {
			position: fixed;
			/* opacity: 0; */
			/* display: none; */
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.3);
			z-index: 10;
			overflow: hidden;
			transition: opacity 0.3s;

		}

		#loadMessage {
			color: white;
			font-size: 100px;
			font-family: TNT, Arial, Helvetica, sans-serif;
			font-weight: lighter;
			text-align: center;
			margin: auto;
			position: absolute;
			top: 46%;
			left: 46%;
			/* transform: translate(-50%, -50%); */
			opacity: 0.7;
			/* text-shadow: 2px 2px dodgerblue; */
			animation: spin 2s linear infinite;
		}

		#cancelLoad {
			color: black;
			margin: auto;
			position: absolute;
			top: 65%;
			left: 46%;
			background-color: rgba(255, 255, 255, 0.7);
			border-width: 0px;
		}


		#cancelLoad:hover {
			background-color: rgba(255, 255, 255, 1);
		}

		#quietLoadButton {
			color: gray;
			position: fixed;
			top: 94%;
			background-color: rgba(255, 255, 255, 0.7);
			border-width: 1px;
			border-color: gainsboro;
			font-size: 12;
			padding: 1px;
		}

		#quietLoadButton:hover {
			border-color: yellowgreen;
		}

		@keyframes quietLoading {
			0% {
				background-color: rgba(154, 205, 50, 0.5);
				color: gray;
			}

			50% {
				color: rgba(159, 231, 16, 0.9);
				background-color: black;
			}

			100% {
				background-color: rgba(154, 205, 50, 0.5);
				color: gray;
			}
		}



		@keyframes spin {
			0% {
				transform: rotate(0deg);
			}

			100% {
				transform: rotate(360deg);
			}
		}

		#helpButton {
			font-size: 12px;
			float: right;
			position: absolute;
			top: 8px;
			right: 40px;
			opacity: 0.5;
			cursor: pointer;
		}

		#helpDiv {
			display: none;
		}

		.infoModal {
			line-height: 1.8;
			font-family: TNT, Arial, Helvetica, sans-serif;
			top: 30px;
			position: relative;
			background-color: #fefefe;
			margin: auto;
			padding-top: 16px;
			padding-left: 50px;
			padding-right: 40px;
			padding-bottom: 50px;
			border: 1px solid #888;
			width: 80%;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			z-index: 11;
			display: none;
            overflow-y: scroll;
            height: 90%;
		}

		.infoModal h1 {
			padding-top: 20px;
		}

		#pinStatList {
			/* max-height: 580px; */
			/* overflow-Y: scroll; */
		}

		.icon {
			color: #000;
			font-size: 20px;
			text-decoration: none;
			margin-right: 7px;
			opacity: 0.8;
			cursor: pointer;
		}

		.autocomplete {
			position: relative;
			display: inline-block;
		}

		.autocomplete-items {
			text-align: left;
			position: absolute;
			border: 1px solid #d4d4d4;
			border-bottom: none;
			border-top: none;
			font-family: TNT, Arial, Helvetica, sans-serif;
			z-index: 1;
			/*position the autocomplete items to be the same width as the container:*/
			top: 47px;
			left: 10px;
			right: 0;
			color: #333f48;
		}

		.autocomplete-items div {
			padding: 10px;
			cursor: pointer;
			background-color: #fff;
			border-bottom: 1px solid #d4d4d4;
			z-index: 1;
		}

		.autocomplete-items div:hover {
			background-color: #e9e9e9;
		}

		.autocomplete-active {
			background-color: DodgerBlue !important;
			color: #ffffff;
		}

		#progbar {
			background-color: rgb(255, 187, 0);
			text-align: right;
			position: fixed;
			width: 0%;
			height: 4px;
			left: 0px;
			/* z-index: 1; */
			transition: width 1s;
			top: 103px;
		}